.sortControlRoot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortControlRoot .sortButton:first-child {
    border-radius: var(--border-radius-default) 0 0 var(--border-radius-default);
}

.sortControlRoot .sortButton:last-child {
    border-radius: 0 var(--border-radius-default) var(--border-radius-default) 0;
}

.sortButton {
    cursor: pointer;
    width: 50%;
    background-color: var(--white);
    transition: border-color var(--transition-timing), color var(--transition-timing), background-color var(--transition-timing);
    border: 0.1rem solid var(--mystic);
    color: var(--default-color);
    font-family: var(--font-family);
    font-weight: var(--primary-weight);
    font-size: var(--font-size-s);
    line-height: var(--line-height-l);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    height: 5rem;
    outline: none;
}

.sortButton:hover {
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
}

.active {
    background-color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
    color: var(--white);
}

.active:hover {
    color: var(--white);
}
