.homePageRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.contentAside {
    width: 24.2rem;
    padding-right: 1rem;
    height: 100%;
}
.contentMain {
    flex: 1;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ticketsWrapper {
    padding-top: var(--space-m);
    flex: 1;
}
